*{
    padding : 0;
    margin : 0;
}

.navbar{
    background-color : lightskyblue;
    height : 130px;
    box-shadow: 1px 8px black; 
}

.navbar img{
    background-color :lightskyblue;
    height : 80px;
    padding-left : 20px;
    margin-top : 30px;
}

.navbar nav{
    display : inline;
    margin-right : 20px;
}

.a1{
    padding-left : 40px;
    text-decoration : none;
    font-weight: 500;
    font-size: 25px;
    color :rgb(0, 0, 0);
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a1:hover{
    color : rgb(179, 8, 209);
}

h2{
    text-align : center;
    font-weight : 900;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : rgb(179, 8, 209);
}

.container{
    display : flex;
    gap : 10px;
    border : 5px solid rgb(179, 8, 209);
    border-radius : 15px;
    flex-direction : row;
    justify-content : space-evenly;
}

.container2{
    border : 5px solid rgb(179, 8, 209);
    border-radius : 15px;
   
}

.temp{
    display : flex;
    align-items : center;
    height : 120px;
    width : 120px;
    border : 3px solid black;
    border-radius : 10px;
    background-color: lightskyblue;
    margin-top : 20px;
    margin-bottom : 20px;
    align-self : center;
}

.temp:hover{
    transform : scale(1.2);
}

#temp{
    color : black;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align : center;
}

.container1{
    display : flex;
    border : 5px solid rgb(179, 8, 209);
    border-radius : 15px;
    flex-direction: column;
    gap : 20px;
    padding : 25px;
    align-items : center;
}

.container3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin : 25px;
}

.container4{
    display : flex;
    border : 5px solid rgb(179, 8, 209);
    border-radius : 15px;
    align-items : space-evenly;
    flex-direction :row;
    padding-left : 500px;
    gap : 30px;
}

#p1{
    height : 300px;
    width : 300px;
    border : 2px solid black;
    border-radius : 8px;
}

#p1:hover{
    transform : scale(1.2);
}

#as1{
    display : flex;
    flex-direction: row;
    gap : 15px;
}

#as2{
    height : 400px;
    float:left;
    border : 3px solid black;
    border-radius : 8px;
    margin-left : 40px;
}

#as3{
    height : 300px;
    width : 280px;
    float: right;
    border : 3px solid black;
    border-radius : 8px;
    margin-right : 40px;
}


 #p2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#p3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}



 .p2{
    float:left;
 }

 #p3{
    margin-left : 20px;
 }

#as4{
     float: left;
     border : 3px solid black;
     border-radius : 8px;
     margin-left : 40px;
     margin-bottom: 30px;
}

.container5{
    border : 5px solid rgb(179, 8, 209);
    border-radius : 15px;
    padding : 30px;
    display : flex;
    flex-direction : row;
    gap : 150px;
}


#f1{
    height : 15px;
    background-color: rgb(179, 8, 209);;
}

table,th,td{
    border : 1.5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead{
    font-weight: 600;
}

table{
    text-align : center;
}

#c2{
    margin-left : 400px;
}


#div1{
    font-size: larger;
    background-color : lightskyblue;
    text-align : center;
    color : black;
    padding : 2px;
    width : 100%;
}






